/* Default height */
.image-width {
    width: 1px;
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
    .image-width {
        width: 400px;
    }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
    .image-width {
        width: 400px;
    }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
    .image-width {
        width: 450px;
    }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
    .image-width {
        width: 450px;
    }
}

/* Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
    .image-width {
        width: 500px;
    }
}