/* Default height */
.jumbotron-height {
    height: 1rem;
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
    .jumbotron-height {
        height: 22rem;
    }

    .slogan-hidden {
        display: none;
    }
    

}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
    .jumbotron-height {
        height: 23rem;
    }
    .slogan-hidden {
        display: none;
    }
    
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
    .jumbotron-height {
        height: 23rem;
    }
    .slogan-hidden {
        display: grid;
    }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {

}

/* Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {

}